:root {
    --dark-bg: #002a65;
    --mid-bg: #003078;
    --light-bg: #003e80;
}

@media (max-width: 1250px) {
    nav {
        display: none;
    }
}

@media (max-width: 940px) {
    #results {
        grid-template-columns: 300px 300px !important;
    }
    .searchbar #resultsNav {
        position: fixed;
    }
    .awesomplete {
        width: 80% !important;
    }
}

html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #d1dbe5;
}
body {
    display: grid;
    grid-template-rows: 75px auto 110px;
    grid-template-columns: minmax(200px, 3fr) 9fr;

    background-color: var(--dark-bg);
    overflow: hidden;
}

header {
    grid-column: 1 / 3;
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-left: 2%;
    background-color: var(--dark-bg);
}

header input {
    border: none;
    width: 100%;
    font-size: 45px;
    height: 50px;
    color: #fff;
    background: var(--mid-bg);
    outline: none;
    padding: 5px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.20);
    border-radius: 8px;
}

header span {
    color: #d1dbe5;
}

header .searchbar {
    height: 50px;
    font-size: 42px;
}

.awesomplete ul {
    text-align: left;
}

nav {
    position: fixed;
    top: 75px;
    right: 0px;
    width: 25%;
    height: 100%;
    margin-right: 1%;
    overflow: auto;
}

#channelInfo {
    text-align: center;
}

.shortcuts {
    text-align: left;
    font-size: 80%;
}

#boxart img {
    cursor: pointer;
    padding: 5px;
}

main {
    padding-left: 5%;
    padding-top: 25px;
    grid-column: span 1;
}

#results {
    display: grid;
    width: 100%;
    grid-template-columns: 300px 300px 300px;
}

#results article {
    cursor: pointer;
    height: 50px;
    margin: 10px;
    overflow: hidden;

    background-color: var(--light-bg);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 10px 20px 20px 20px;
}

#results article:hover {
    background-color: var(--dark-bg) !important;
}

#results article p {
    display: inline;
}

#results article.alt {
    background-color: var(--mid-bg);
}

footer {
    grid-column: 1 / 3;
    padding-left: 2%;
}

footer a {
    color: inherit;
}

footer #resultsNav {
    display: none;
}

.searchbar #resultsNav {
    width: 30%;
    display: inline-block;
}

.paginationjs {
    line-height:1.6;
    font-size:21px;
}

.paginationjs ul {
    list-style: none;
}

.paginationjs a {
    text-decoration: none;
    color: #d1dbe5;
    background-color: none;
}

.paginationjs li {
    float: left;
    padding-left: 5%;
}

.paginationjs-nav {
    float: left;
    padding-left: 5%;
}